{% extends "littlelinksite/base.html" %}
  
{% block title %}LittleLinks - Make your URL shorter!{% endblock %}

{% block navbar %}
{% include "littlelinksite/navbar.html" %}
{% endblock %}

{% block content %}

    <div class="col-sm-10 col-lg-8">
        <div class="row">
            <div class="col text-center" style="margin-top: 50px">
                <a href="/">
                <img src="../static/littlelinksite/img/hyperlink-2.svg"></a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center" style="margin-top: 10px">
                <h1>LittleLinks</h1>    
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px">
                <div class="container-fluid">
                    <div class="card text-center">
                        <div class="card-header">
                            Little that link!
                        </div>
                        <div class="card-body">
                            <form action='.' method='POST'>{% csrf_token %}
                                <form class="px-4 py-3">
                                    <div class="row justify-content-center">
                                        <div class="form-group" id="url-form">
                                            {{ form.orig_url }}
                                        </div>
                                        <div id="output"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.message.id_for_label }}">Three word URL:</label>
                                        {{ form.word_url_bool }}
                                    </div>
                                    <button id="submitButton" class="btn btn-primary">Submit</button></p>
                                </form>
                            </form>
                        </div>
                        <div class="card-footer text-muted">
                            <!-- TODO: Add if statement -->
                            {% if not littlelink %}Enter the URL above and click submit!{% endif %}
                            {% if littlelink %}<a href={{littlelink}}>{{littlelink}}</a>{% endif %}
                            {{ form.non_field_errors }}
                            {{ form.orig_url.errors }}
                            {{ form.word_url_bool.errors }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}