<div class="row">
    <div class="col text-right" style="margin: 20px">
        {% if user.is_authenticated %}
        <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <h6 class="dropdown-header">{{ user.get_username }}</h6>
                    <a class="dropdown-item" href="/mylittlelinks">My Little Links</a>
                    <a class="dropdown-item" href="/accounts/logout/">Log Out</a>
                </div>
              </div>
        {% else %}
            <a href="/accounts/login/" class="btn btn-outline-primary">Login</a>
        {% endif %}
    </div>
</div>