#content {
    margin-top: 20px;
    margin-bottom: 60px;
}
     
a:hover{
    text-decoration: none;
}
     
header {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px;
    padding-bottom: 10px;
    clear: both;
}

#url-result {
    color: #3055bb;
    display: hidden;
}

.errorlist li {
    color: #e21f1f
}