{% extends "littlelinksite/base.html" %}

{% block title %}LittleLinks - Sign Up{% endblock %}

{% block content %}

    <div class="col-sm-10 col-lg-8">
        <div class="row">
            <div class="col text-center" style="margin-top: 50px">
                <a href="/">
                <img src="../../static/littlelinksite/img/hyperlink-2.svg"></a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center" style="margin-top: 10px">
                <h1>LittleLinks</h1>    
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px">
                <div class="container-fluid">
                    <div class="card text-center">
                        <div class="card-header">
                            Sign up!
                        </div>
                        <div class="card-body text-left">
                            <form action='.' method='POST'>{% csrf_token %}
                                <form class="px-4 py-3">
                                    <div class="form-group">
                                        {{ form.as_p }}
                                    </div>
                                    <div class="col text-center">
                                        <button id="submitButton" class="btn btn-outline-success">Sign up</button></p>
                                    </div>
                                </form>
                            </form>
                        </div>
                        <div class="card-footer text-muted">
                            <!-- TODO: Add if statement -->
                            <!-- TODO: Change form -->
                            Enter your details above to create an account
                            <!-- {{ form.non_field_errors }}
                            {{ form.orig_url.errors }}
                            {{ form.word_url_bool.errors }} -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}